<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>COMMERCE STORE</title>
</head>
<body>
    <h1>BIENVENIDO A ECOMMERCE</h1>
    <div class="options">
        <span><a href="products">VER PRODUCTOS</a></span>
        <span><a href="register">REGISTRARSE</a></span>
        <span><a href="login">LOGIN</a></span>
    </div>
</body>
</html>