<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce products</title>
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/products.css">
</head>
<body>
    <h1>PRODUCTOS</h1>
    {{#each products}}
    <div class="productbox">
        <h3>{{ uppercase this.name}}</h3>
        <p>{{this.description}}</p>
        <span>PRECIO: </span><span>{{this.price}} Euros</span><br>
        <img src="{{this.image}}" alt="Imagen del producto">
    </div>
    {{/each}}


</body>
</html>