body{
    font-family: sans-serif;
}
h1{
    background-color: lightsalmon;
}

h2{
    background-color: lightgreen;
}

img{
    width: 150px;
    height: auto
}

.options{
    display: flex;
    justify-content: center;
}
.options span{
    background-color: lightpink;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}